<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-item>
          <ion-label style="font-family: Vazirmatn;text-align: right;" position="floating">نام و نام مادر:</ion-label>
          <ion-input type="text" [(ngModel)]="MeAndMother" placeholder="نام و نام مادر:"
                     [clearInput]="true"></ion-input>
        </ion-item>

      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-button color="primary" (click)="ComputeAbjadWord()">محاسبه</ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;"> ابجد : {{AbjadNumber}}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;"> ارزش مکانی : {{AbjadNumberArray}}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;"> ابجد اعداد : {{AbjadWordArray}}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;">  حروف ملفوظی : {{AbjadLafzArray}}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;">  حروف ملفوظی : {{MeAndMotherNew}}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin-top: 20px;direction: rtl;">
        <ion-label style="font-family: Vazirmatn;text-align: right;">  حذف حروف تکراری : {{MeAndMotherNewRemoveduplicates}}</ion-label>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
